.line-section{
    height: 1px;
    background-color: whitesmoke;
    margin-right: 100px;
    margin-left: 100px;
}

.footer{
    background-color: none;
    bottom: 0;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
