.header{
    max-width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    .logo h1{
        color: white;
        margin: 0%;
        text-align: center;
    }
    .info h2{
            color: white;
            text-align: center;
            font-size: 18px;
    }
}




