/*Pagina Horarios*/

.tabla{
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    margin: 150px auto;
    background-color: rgba(83, 220, 204, 0.5);
    color: whitesmoke;
    
}
.table{
    text-align: left ;
    width: 100%;
    border-collapse: collapse;
    
}
.th, td{
    
    border: solid 1px black;
    padding: 20px; 
    color: whitesmoke;
    border-color: whitesmoke;
    
}
.th{
    color: whitesmoke;
}
.thead{
    color: whitesmoke;
}



